<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Walican</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
  <div class="form-body">
    <h1>Walican</h1>
    <form name="sendPayInfo" action="/borrow/regist" method="POST">
      <div>
        <label>payment ID</label>
        <input type="text" name="payId" value="<%= payId %>" readonly>
      </div>
      <div>
        <label>金額</label>
        <input type="text" name="amount">
      </div>
      <div>
        <p>貸した人</p>
        <% users.forEach((user) => { %>
          <div class="user_column">
            <% if (user.id != parent) { %>
              <input class="radio-input" id="<%= user.id %>" type="radio" name="target_user" value="<%= user.id %>">
              <label for="<%= user.id %>">
                <img class="user_img" src="<%= user.img %>" alt="">
                <%= user.name %>
              </label>
              <div class="clear_div"></div>
            <% } %>
          </div>
        <% }); %>
      </div>
    </form>
  </div>
  <div class="send_button">
    <a href="javaScript:send()">フォーム内容を送信する</a>
  </div>

  <script>
    function send() {
      document.sendPayInfo.submit();
    }
  </script>
</body>
</html>