<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Walican | summary</title>
  <link rel="stylesheet" href="/stylesheets/share/init.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/share/util.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/share/header.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/account/summary.css" type="text/css">
</head>
<body>

  <%- include("../../share/header.ejs") %>

  <div id="back_button">
    <a href="/account/groups?groupId=<%= group_id %>">グループページへ戻る</a>
  </div>

  <div id="main">
    <div id="main_menu">
      <span id="main_title">Summary</span>
    </div>

    <div id="users">
      <ul>
        <% members.forEach(member =>{ %>
          <% if (member.id != _locals.user.id) { %>
            <li>
              <img src="<%= member.img %>" alt="">
              <span><%= member.name %></span>
              <p class="amount <%= (datas[member.id]<0) ? 'red' : 'blue' %>">
                <%= datas[member.id] %>
              </p>
            </li>
            <div class="cf"></div>
          <% } %>
        <% }) %>
      </ul>
    </div>
  </div>

  <%- include("../../share/menu_script.ejs") %>
</body>
</html>