<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Walican | user</title>
  <link rel="stylesheet" href="/stylesheets/share/init.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/share/util.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/share/header.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/account/user-page.css" type="text/css">
</head>
<body>
  <%- include("../../share/header.ejs") %>

  <div id="main">
    <div id="user_info">
      <div>
        <img src="<%= _locals.user.img %>" alt="">
      </div>
      <div id="name">
        <span><%= _locals.user.name %></span>
      </div>
    </div>

    <div id="groups">
      <span>所属グループ</span>
      <ul>
        <% if (groups) { %>
          <% groups.forEach(group => { %>
            <li><a href="/account/groups/?groupId=<%= group.id %>"><%= group.name %></a></li>
          <% }); %>
        <% } %>
      </ul>
    </div>
  </div>

  <%- include("../../share/menu_script.ejs") %>
</body>
</html>